# Object files
*.o
*.ko
*.obj
*.elf

# Executables
sshd
ssh_client

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Dependency files
*.d

# Editor files
.vscode/
*.swp
*.swo
*~

# OS files
.DS_Store
Thumbs.db

# Docker
.dockerignore